#topbar{
    background-color: #252525;
    height: 80px;
    .left{
        padding-top: 5px;
        float: left;
        h1{
            color: aliceblue;
        }
    }
    .right{
            
        a{  
            margin: 25px 5px;
            float: right;
            font-size: 20px;
            color: aliceblue;
        }
        a:hover{
            color: orange;
        }
    }
}

#welcome{
    height: 600px;
    background: url('./image/welcome.jpg');
    h1{
        margin: 0px;
        text-align: center;
        padding-top: 250px;
        font-size: 40px;
    }
}