* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
a {
  color: black;
  text-decoration: none;
}
.container {
  margin: 0 auto;
  width: 70vw;
}
body {
  font-family: 'kaiti', 'Courier New', Courier, monospace;
}
body,
html {
  height: 100%;
  width: 100%;
}
#bar {
  background-color: #252525;
  height: 80px;
  width: 100%;
}
#bar .container .left {
  float: left;
}
#bar .container .left h1 {
  margin-top: 20px;
  color: aliceblue;
  font-size: 30px;
}
#bar .container .left h1:after {
  content: '';
  display: block;
  height: 5px;
  width: 0px;
  border-radius: 5px;
  transition: width 0.3s;
  background: linear-gradient(to right, orange, yellow);
}
#bar .container .left h1:hover::after {
  width: 120px;
}
#bar .container .right {
  float: right;
  display: flex;
  font-size: 30px;
}
#bar .container .right li {
  display: block;
  margin: 20px 10px;
}
#bar .container .right a {
  margin: 25px 5px;
  color: aliceblue;
}
#bar .container .right a::after {
  content: '';
  display: block;
  height: 5px;
  width: 0px;
  border-radius: 5px;
  transition: width 0.3s;
  background: linear-gradient(to right, orange, yellow);
}
#bar .container .right a:hover::after {
  width: 65px;
}
#bar .container .right a:hover {
  color: orange;
}
#bar .container .right .music:hover::after {
  width: 125px;
}
#welcome {
  position: relative;
  width: 100%;
  height: 100%;
}
#welcome #h1 {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40px;
  cursor: pointer;
}
#welcome .introduce {
  position: absolute;
  left: 50%;
  top: 180px;
  transform: translateX(-50%);
  height: 100px;
  width: 370px;
  font-size: 25px;
  color: #252525;
  word-wrap: break-word;
  display: none;
}
#welcome h2 {
  position: absolute;
  top: 270px;
  left: 65px;
  cursor: pointer;
}
#welcome h2:after {
  content: '';
  display: block;
  height: 5px;
  width: 0px;
  border-radius: 5px;
  transition: width 0.3s;
  background: linear-gradient(to right, orange, yellow);
}
#welcome h2:hover:after {
  width: 150px;
}
#welcome .tool {
  position: absolute;
  top: 305px;
  left: 35px;
  height: 120px;
  width: 215px;
}
#welcome li {
  float: left;
  padding: 10px 10px;
  transition: all 0.2s;
}
#welcome li:hover {
  transform: scale(1.5);
}
#banner {
  position: fixed;
  left: 0px;
  top: 0px;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
