#topbar {
  background-color: #252525;
  height: 80px;
}
#topbar .left {
  padding-top: 5px;
  float: left;
}
#topbar .left h1 {
  color: aliceblue;
}
#topbar .right a {
  margin: 25px 5px;
  float: right;
  font-size: 20px;
  color: aliceblue;
}
#topbar .right a:hover {
  color: orange;
}
#welcome {
  height: 600px;
  background: url('image/welcome.jpg');
}
#welcome h1 {
  margin: 0px;
  text-align: center;
  padding-top: 250px;
  font-size: 40px;
}
