//reset_css
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style-type: none;
}
a{
    color: black;
    text-decoration: none;
}
.container{
    margin: 0 auto;
    width: 70vw;
}
body{
    font-family:'kaiti','Courier New', Courier, monospace;
}




@after:{
    content: '';
    display: block;
    height: 5px;
    width: 0px;
    border-radius: 5px;
    transition: width 0.3s;
    background: linear-gradient(to right,orange,yellow);
}
body,html{
    height: 100%;
    width: 100%;
}

//顶部的导航栏
#bar{
    background-color: #252525;
    height: 80px;
    width: 100%;
    .container{
        .left{
            float: left;
            h1{
                margin-top: 20px;
                color: aliceblue;
                font-size: 30px;
            }
            h1:after{
                @after();
            }
            h1:hover::after{
                width: 120px;
            }
        }
        .right{
            float: right;
            display: flex;
            font-size: 30px;
            li{
                display: block;
                margin: 20px 10px;
            }
            a{  
            margin: 25px 5px;
            color: aliceblue;
            }
            a::after{
                @after();
            }
            a:hover::after{
                width: 65px;
            }
            a:hover{
                color: orange;
            }
            .music:hover::after{
                width: 125px;
            }
        }
    }
}

//欢迎栏
#welcome{
    position: relative;
    width: 100%;
    height: 100%;
    #h1{
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 40px;
        cursor: pointer;
    }
    .introduce{
        position: absolute;
        left: 50%;
        top: 180px;
        transform: translateX(-50%);
        height: 100px;
        width: 370px;
        font-size: 25px;
        color: #252525;
        word-wrap: break-word;
        display: none;
    }
    h2{
        position: absolute;
        top: 270px;
        left: 65px;
        cursor: pointer;
    }
    h2:after{
        @after();
    }
    h2:hover:after{
        width: 150px;
    }
    .tool{
        position: absolute;
        top: 305px;
        left: 35px;
        height: 120px;
        width: 215px;
        
    }
        li{
            float: left;
            padding:10px 10px;
            transition: all 0.2s;
        }
        li:hover{
            transform: scale(1.5);
        }
    }

#banner{
        position: fixed;
        left: 0px;
        top: 0px;
        object-fit: cover;
        width: 100vw;
        height: 100vh;
        z-index: -1;
    }